@tailwind base;
@tailwind components;
@tailwind utilities;

/* main theme green: #008B47 */

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.bottom-navtab-buttons {
  @apply flex-1 flex flex-col justify-center items-center text-sm py-2 border-t-3 lg:px-5;
}
